/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

#hero-proposta {
  padding: 270px 0px 220px 0px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #hero-proposta {
    padding: 200px 0px 100px 0px;
  }
}

#hero-proposta #background-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  z-index: -2;
}
@media screen and (max-width: 768px) {
  #hero-proposta #background-hero {
    width: 200% !important;
  }
}
#hero-proposta #gradient-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

#hero-proposta h1 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 5.67806rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.10763rem;
}
@media screen and (max-width: 768px) {
  #hero-proposta h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #hero-proposta h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1000px) {
  #hero-proposta h1 {
    font-size: 3rem;
  }
}
#hero-proposta h6 {
  color: #f3f7f8;
  /* linear.app/Inter/Semi Bold 20.02 */
  font-family: Inter;
  font-size: 1.251rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02313rem;
}
#hero-proposta span {
  color: #e1ebec;
  /* linear.app/Inter/Semi Bold 13.78 */
  font-family: Inter;
  font-size: 0.96131rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01125rem;
  display: flex !important;
  flex-direction: column !important;
  width: 50%;
}
@media screen and (max-width: 768px) {
  #hero-proposta span {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #hero-proposta span {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #hero-proposta span {
    width: 100%;
  }
}
#hero-proposta a {
  margin-top: 20px;
  display: flex;
}

.container-proposta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0px 20px;
}/*# sourceMappingURL=Hero_Proposta.css.map */