$green-felipe-50: #f3f7f8;
$green-felipe-100: #e1ebec;
$green-felipe-200: #c2d7da;
$green-felipe-300: #a0bcc0;
$green-felipe-400: #72989e;
$green-felipe-500: #577d83;
$green-felipe-600: #4b686f;
$green-felipe-700: #41575d;
$green-felipe-800: #3b4a4f;
$green-felipe-900: #344045;
$green-felipe-950: #222c30;
