.esquerda-group {
    animation: moveUpDown 4s infinite alternate ease-in-out;
}

.baixo-group {
    animation: moveUpDown 3s infinite alternate ease-in-out 1s;
}

.direita-group {
    animation: moveUpDown 2s infinite alternate ease-in-out 2s;
}

.cima-group {
    animation: moveUpDown 5s infinite alternate ease-in-out 3s;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}

/* ANIMAÇÃO DO SELO */

.texto-selo {
    animation: rotateText 15s linear infinite;
    transform-origin: center;
}

@keyframes rotateText {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ANIMAÇÂO SVG PROFILE */

/* ANIMAÇÃO SVG PROFILE */

.gradient-profile {
    animation: moveGradient 8s ease-in-out alternate infinite;
}

@keyframes moveGradient {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(25%) translateY(25%);
    }
    50% {
        transform: translateX(50%) translateY(50%);
    }
    75% {
        transform: translateX(25%) translateY(75%);
    }
    100% {
        transform: translateX(0) translateY(100%);
    }
}
