@import "../../assets/css/partial/colors";
@import "../../assets/css/partial/typography";
@import "../../assets/css/partial/layout";

#footer {
    background-color: $green-felipe-950;
}

#footer {
    p {
        color: $green-felipe-50;
        font-size: 0.90131rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.54506rem; /* 171.429% */
    }

    a {
        color: $green-felipe-50;
        font-size: 2rem;
    }

    ul {
        list-style: none;
        padding-left: 0px;
    }

    li,
    a {
        color: $green-felipe-200;
        font-size: 0.90131rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.35194rem;
        text-decoration: none;
        margin: 16px 0px;
    }

    .item-title {
        color: $green-felipe-50;
        font-size: 0.99425rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.54506rem;
    }

    img {
        max-width: 64px;
    }

    span {
        color: $green-felipe-200;
        font-size: 0.90131rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.35194rem;
        margin: 16px 0px;
    }
}

#footer {
    .redesociais {
        display: flex;
        gap: 20px;

        a {
            font-size: 2rem;
        }
    }
}

.container-textos {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.linha-final {
    border-top: 2px solid rgba(255, 255, 255, 0.219);
    .col-lg-12 {
        display: flex;
        justify-content: center;
    }

    p {
        margin: 20px auto;
        display: flex;
        font-family: "Inter";
    }
}

.container-principal-footer {
    padding: 100px 0px 80px 0px;

    @include responsive(s) {
        padding: 50px 0px 40px 0px;
    }
}
