@import "../../assets/css/partial/colors";
@import "../../assets/css/partial/typography";
@import "../../assets/css/partial/layout";

#sobre-mim {
    position: relative;
}

.carrossel-sobre {
    position: absolute;
    top: 0;
    max-height: 750px !important;
    height: 750px !important;

    @include responsive(s) {
        height: 600px !important;
    }
    img {
        height: 750px !important;
        object-fit: cover;
        @include responsive(s) {
            height: 600px !important;
        }
    }

    .owl-item {
        height: 750px !important;
        @include responsive(s) {
            height: 600px !important;
        }
    }
}

.container-texto-sobre {
    z-index: 99;
    position: relative;
    max-height: 750px !important;
    display: flex;
    align-items: flex-end;
    height: 750px !important;
    @include responsive(s) {
        height: 600px !important;
    }

    .col-lg-12 {
        position: absolute;
        bottom: 10% !important;
    }
}

.container-texto-sobre {
    h6 {
        @include microtext;
        text-transform: uppercase;
    }

    h3 {
        @include subtitulo-primario;
        color: $green-felipe-300;
    }

    span {
        @include span;
        max-width: 70%;

        @include responsive(s) {
            max-width: 100%;
        }
    }
}
