@import "./components/header/Header";
@import "./components/hero/Hero";
@import "./components/tecnologias/Tecnologias";
@import "./components/projetos/Projetos";
@import "./components/informativo/Informativo";
@import "./components/sobre/Sobre";
@import "./components/solucoes/Solucoes";
@import "./components/cta/Cta";
@import "./components/blog/Blog";
@import "./components/profile/Profile";
@import "./components/footer/Footer";
@import "./assets/css/partial/colors";
@import "./assets/css/partial/typography";
@import "./assets/css/partial/layout";
@import "./assets/css/partial/animations";
@import "./assets/css/reset.css";

* {
    font-family: "Inter", sans-serif !important;
}

body {
    background-color: $green-felipe-900 !important;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 1)" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>') !important;
    transition: 0.5s ease;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 1)" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M23 7l-16 16M7 7l16 16"/></svg>') !important;
    transition: 0.5s ease;
    transform: rotate(180deg);
}

.v-mobile {
    display: none !important;

    @include responsive(s) {
        display: block !important;
    }

    @include responsive(m) {
        display: block !important;
    }
}

.v-desktop {
    display: block !important;

    @include responsive(s) {
        display: none !important;
    }

    @include responsive(m) {
        display: none !important;
    }
}
