@charset "UTF-8";
/* Margins for my-* */
@import "./assets/css/reset.css";
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

.navbar {
  border-radius: 1rem;
  background: rgba(10, 10, 10, 0.3);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 26px;
}
@media screen and (max-width: 768px) {
  .navbar {
    margin-top: 8px !important;
    width: calc(100% - 24px);
  }
}

.nav-link {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: #f3f7f8 !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* linear.app/Inter/Semi Bold 10.97 */
  font-family: Inter;
  font-size: 0.78556rem !important;
  font-style: normal;
  font-weight: 600; /* 	&:hover {
	transform: scale(1.05);
	font-weight: 600;
} */
}
@media screen and (max-width: 768px) {
  .nav-link:hover {
    transform: scale(1.01) !important;
    font-weight: 600;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .nav-link:hover {
    transform: scale(1.01) !important;
    font-weight: 600;
  }
}
@media screen and (max-width: 768px) {
  .nav-link {
    padding: 8px 0px !important;
  }
}

a.btn-white {
  border-radius: 0.64444rem;
  background: #e1ebec;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px 20px !important;
  color: #222c30 !important;
  font-family: Inter;
  font-size: 0.93644rem;
  font-style: normal;
  font-weight: 600;
  text-decoration: none !important;
}
a.btn-white:hover {
  filter: contrast(0.9);
}
@media screen and (max-width: 768px) {
  a.btn-white {
    display: inline-flex;
  }
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 56px !important;
}

@media screen and (max-width: 768px) {
  .div-lista-nav-01 {
    order: 1;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1000px) {
  .div-lista-nav-01 {
    order: 1;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .div-lista-nav-01 {
    order: 1;
  }
}

@media screen and (max-width: 768px) {
  .div-lista-nav-02 {
    order: 2;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1000px) {
  .div-lista-nav-02 {
    order: 2;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .div-lista-nav-02 {
    order: 2;
  }
}

.nav-link {
  color: #f3f7f8 !important;
  position: relative;
  /*  @include text-style-heads-heading-1; */
}
.nav-link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: #f3f7f8;
  bottom: -10%;
  left: 0;
  transition: all 0.7s ease-in-out;
}
.nav-link:hover {
  color: #f3f7f8 !important;
}
.nav-link:hover::after {
  width: 100%;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-brand {
  margin-right: 0px !important;
}

/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

#hero {
  padding: 360px 0px 320px 0px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #hero {
    padding: 200px 0px 100px 0px;
  }
}

#hero #background-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  z-index: -2;
}
@media screen and (max-width: 768px) {
  #hero #background-hero {
    width: 200% !important;
  }
}
#hero #gradient-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

#hero h6 {
  color: #f3f7f8;
  /* linear.app/Inter/Semi Bold 20.02 */
  font-family: Inter;
  font-size: 1.251rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02313rem;
  margin-bottom: 8px;
  color: #c2d7da;
}
#hero h1 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 5.67806rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.10763rem;
}
@media screen and (max-width: 768px) {
  #hero h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #hero h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1000px) {
  #hero h1 {
    font-size: 3rem;
  }
}
#hero span {
  color: #e1ebec;
  /* linear.app/Inter/Semi Bold 13.78 */
  font-family: Inter;
  font-size: 0.96131rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01125rem;
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 40px;
  color: #c2d7da;
}
@media screen and (max-width: 768px) {
  #hero span {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #hero span {
    margin-bottom: 20px;
  }
}
#hero a.btn-white {
  border-radius: 0.64444rem;
  background: #e1ebec;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px 20px !important;
  color: #222c30 !important;
  font-family: Inter;
  font-size: 0.93644rem;
  font-style: normal;
  font-weight: 600;
}
#hero a.btn-white:hover {
  filter: contrast(0.9);
}
#hero h3 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 3.0495rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.1055rem;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  #hero h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #hero h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1000px) {
  #hero h3 {
    font-size: 1.5rem;
  }
}
#hero h4 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  color: #c2d7da;
}
@media screen and (max-width: 768px) {
  #hero h4 {
    font-size: 1rem;
  }
}

/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

#tecnologias {
  position: relative !important;
  padding: 0px 0px 0px 0px !important;
}

#tecnologias .container {
  position: relative !important;
}

#tecnologias h3 {
  color: #e1ebec;
  /* linear.app/Inter/Semi Bold 13.78 */
  font-family: Inter;
  font-size: 0.96131rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01125rem;
  display: flex !important;
  flex-direction: column !important;
  font-size: 1.5rem;
  color: #f3f7f8;
}
@media screen and (max-width: 768px) {
  #tecnologias h3 {
    font-size: 16px;
  }
}
#tecnologias h3 strong {
  color: #c2d7da;
  font-weight: 600;
}
#tecnologias span {
  color: #e1ebec;
  /* linear.app/Inter/Semi Bold 13.78 */
  font-family: Inter;
  font-size: 0.96131rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01125rem;
  display: flex !important;
  flex-direction: column !important;
}
@media screen and (max-width: 768px) {
  #tecnologias span {
    font-size: 16px;
  }
}
#tecnologias img {
  width: 100%;
  height: auto;
}

.gradienttecnologias {
  position: absolute !important;
  top: 0%;
  left: 0%;
  width: 100% !important;
  height: 200px !important;
}

@media screen and (max-width: 768px) {
  .container-tecnologias {
    margin-top: 20px !important;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .container-tecnologias {
    margin-top: 20px !important;
  }
}

.selotecnologias {
  max-width: 160px !important;
  margin: 0 auto !important;
  margin-top: 20px !important;
}
@media screen and (max-width: 768px) {
  .selotecnologias {
    max-width: 100px !important;
  }
}

/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

#projetos {
  padding: 100px 0px 0px 0px;
  background-image: url("../../assets/img/projetos/projetos-bg.jpg");
}

#projetos h3 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 3.0495rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.1055rem;
}
@media screen and (max-width: 768px) {
  #projetos h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #projetos h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1000px) {
  #projetos h3 {
    font-size: 1.5rem;
  }
}
#projetos span {
  color: #e1ebec;
  /* linear.app/Inter/Semi Bold 13.78 */
  font-family: Inter;
  font-size: 0.96131rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01125rem;
  display: flex !important;
  flex-direction: column !important;
}
@media screen and (max-width: 768px) {
  #projetos span {
    font-size: 16px;
  }
}

.coluna-projetos {
  margin-top: 60px;
  width: 200% !important;
}

.box-projetos {
  padding: 20px;
  background-color: #222c30;
}

.textosprojetos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.textosprojetos h4 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .textosprojetos h4 {
    font-size: 1rem;
  }
}
.textosprojetos img,
.textosprojetos svg {
  max-width: 56px !important;
}

/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

#informativo {
  padding: 200px 0px 200px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 768px) {
  #informativo {
    padding: 100px 0px 100px 0px;
  }
}
#informativo .col-lg-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#informativo p {
  color: #e1ebec;
  font-family: Inter;
  font-size: 3.0495rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.1055rem;
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin: 32px;
}
@media screen and (max-width: 768px) {
  #informativo p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #informativo p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1000px) {
  #informativo p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  #informativo p {
    margin: 16px;
    font-size: 2rem !important;
  }
}

/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

#sobre-mim {
  position: relative;
}

.carrossel-sobre {
  position: absolute;
  top: 0;
  max-height: 750px !important;
  height: 750px !important;
}
@media screen and (max-width: 768px) {
  .carrossel-sobre {
    height: 600px !important;
  }
}
.carrossel-sobre img {
  height: 750px !important;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .carrossel-sobre img {
    height: 600px !important;
  }
}
.carrossel-sobre .owl-item {
  height: 750px !important;
}
@media screen and (max-width: 768px) {
  .carrossel-sobre .owl-item {
    height: 600px !important;
  }
}

.container-texto-sobre {
  z-index: 99;
  position: relative;
  max-height: 750px !important;
  display: flex;
  align-items: flex-end;
  height: 750px !important;
}
@media screen and (max-width: 768px) {
  .container-texto-sobre {
    height: 600px !important;
  }
}
.container-texto-sobre .col-lg-12 {
  position: absolute;
  bottom: 10% !important;
}

.container-texto-sobre h6 {
  color: #f3f7f8;
  /* linear.app/Inter/Semi Bold 20.02 */
  font-family: Inter;
  font-size: 1.251rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02313rem;
  text-transform: uppercase;
}
.container-texto-sobre h3 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 3.0495rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.1055rem;
  color: #a0bcc0;
}
@media screen and (max-width: 768px) {
  .container-texto-sobre h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .container-texto-sobre h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1000px) {
  .container-texto-sobre h3 {
    font-size: 1.5rem;
  }
}
.container-texto-sobre span {
  color: #e1ebec;
  /* linear.app/Inter/Semi Bold 13.78 */
  font-family: Inter;
  font-size: 0.96131rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01125rem;
  display: flex !important;
  flex-direction: column !important;
  max-width: 70%;
}
@media screen and (max-width: 768px) {
  .container-texto-sobre span {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .container-texto-sobre span {
    max-width: 100%;
  }
}

/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

#solucoes {
  padding: 100px 0px;
  position: relative;
  overflow: hidden !important;
}
@media screen and (max-width: 768px) {
  #solucoes {
    padding: 80px 0px;
  }
}

#solucoes h6 {
  color: #f3f7f8;
  /* linear.app/Inter/Semi Bold 20.02 */
  font-family: Inter;
  font-size: 1.251rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02313rem;
  margin-bottom: 8px;
  color: #f3f7f8;
}
#solucoes h2 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 3.0495rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.1055rem;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  #solucoes h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #solucoes h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1000px) {
  #solucoes h2 {
    font-size: 1.5rem;
  }
}

.container-solucoes-01 {
  margin-bottom: 64px;
}
@media screen and (max-width: 768px) {
  .container-solucoes-01 {
    margin-bottom: 32px;
  }
}

.box-solucoes {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #c2d7da;
  padding-top: 40px;
}

.box-solucoes svg {
  color: #c2d7da !important;
  font-size: 2rem;
  align-items: flex-start;
  width: -moz-max-content;
  width: max-content;
}
.box-solucoes h3 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  margin: 20px 0px;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .box-solucoes h3 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .box-solucoes h3 {
    font-size: 1.5rem;
  }
}
.box-solucoes span {
  color: #e1ebec;
  /* linear.app/Inter/Semi Bold 13.78 */
  font-family: Inter;
  font-size: 0.96131rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01125rem;
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 20px;
  color: #c2d7da;
}
@media screen and (max-width: 768px) {
  .box-solucoes span {
    font-size: 16px;
  }
}

.gradient-solucoes {
  position: absolute;
  top: 0%;
  left: 0%;
  height: auto;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .gradient-solucoes {
    top: 0%;
    left: 0px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .gradient-solucoes {
    top: 0%;
    left: 0px;
  }
}

/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

#cta {
  padding: 100px 0px;
  background-color: #222c30;
}
@media screen and (max-width: 768px) {
  #cta {
    padding: 80px 0px;
  }
}

#cta h3 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 3.0495rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.1055rem;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #cta h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #cta h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1000px) {
  #cta h3 {
    font-size: 1.5rem;
  }
}
#cta span {
  color: #e1ebec;
  /* linear.app/Inter/Semi Bold 13.78 */
  font-family: Inter;
  font-size: 0.96131rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01125rem;
  display: flex !important;
  flex-direction: column !important;
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  #cta span {
    font-size: 16px;
  }
}
#cta a {
  margin-right: auto !important;
  display: flex;
}
@media screen and (max-width: 768px) {
  #cta a {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #cta a {
    margin-top: 20px;
  }
}

/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

#blog {
  padding: 100px 0px;
}
@media screen and (max-width: 768px) {
  #blog {
    padding: 80px 0px;
  }
}

#blog h6 {
  color: #f3f7f8;
  /* linear.app/Inter/Semi Bold 20.02 */
  font-family: Inter;
  font-size: 1.251rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02313rem;
  margin-bottom: 8px;
  color: #f3f7f8;
}
#blog h3 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 3.0495rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.1055rem;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  #blog h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #blog h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1000px) {
  #blog h3 {
    font-size: 1.5rem;
  }
}
#blog span {
  font-family: Inter;
  font-size: 1.6425rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.875rem; /* 114.155% */
  letter-spacing: -0.11375rem;
  color: #e1ebec;
  margin-top: 16px !important;
  display: flex;
}
@media screen and (max-width: 768px) {
  #blog img {
    width: 100%;
    aspect-ratio: 16/9;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #blog img {
    width: 100%;
    aspect-ratio: 16/9;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.box-blog {
  padding: 20px;
  background-color: #222c30;
  margin-top: 20px;
}
.box-blog a {
  text-decoration: none;
}

/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

#profile {
  overflow: hidden !important;
  padding: 100px 0px;
}
@media screen and (max-width: 768px) {
  #profile {
    padding: 50px 0px;
  }
}

#profile .profile-img {
  filter: grayscale(100%);
  border-radius: 50%;
  max-width: 100px;
  border: 4px solid #e1ebec;
}
#profile h6 {
  color: #e1ebec;
}
#profile h2 {
  color: #e1ebec;
  color: #e1ebec;
  font-family: Inter;
  font-size: 3.0495rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.1055rem;
}
@media screen and (max-width: 768px) {
  #profile h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #profile h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1320px) and (min-width: 1000px) {
  #profile h2 {
    font-size: 1.5rem;
  }
}
#profile h3 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  #profile h3 {
    font-size: 1rem;
  }
}

.container-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gradient-profile {
  position: absolute !important;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
}

/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

.esquerda-group {
  animation: moveUpDown 4s infinite alternate ease-in-out;
}

.baixo-group {
  animation: moveUpDown 3s infinite alternate ease-in-out 1s;
}

.direita-group {
  animation: moveUpDown 2s infinite alternate ease-in-out 2s;
}

.cima-group {
  animation: moveUpDown 5s infinite alternate ease-in-out 3s;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
/* ANIMAÇÃO DO SELO */
.texto-selo {
  animation: rotateText 15s linear infinite;
  transform-origin: center;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ANIMAÇÂO SVG PROFILE */
/* ANIMAÇÃO SVG PROFILE */
.gradient-profile {
  animation: moveGradient 8s ease-in-out alternate infinite;
}

@keyframes moveGradient {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(25%) translateY(25%);
  }
  50% {
    transform: translateX(50%) translateY(50%);
  }
  75% {
    transform: translateX(25%) translateY(75%);
  }
  100% {
    transform: translateX(0) translateY(100%);
  }
}
body {
  background-color: #344045 !important;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 1)" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>') !important;
  transition: 0.5s ease;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 1)" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M23 7l-16 16M7 7l16 16"/></svg>') !important;
  transition: 0.5s ease;
  transform: rotate(180deg);
}

.v-mobile {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .v-mobile {
    display: block !important;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .v-mobile {
    display: block !important;
  }
}

.v-desktop {
  display: block !important;
}
@media screen and (max-width: 768px) {
  .v-desktop {
    display: none !important;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .v-desktop {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */