/* Margins for my-* */
@import "./assets/css/reset.css";
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

.navbar {
  border-radius: 1rem;
  background: rgba(10, 10, 10, 0.2);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 26px;
}
@media screen and (max-width: 768px) {
  .navbar {
    margin-top: 8px !important;
  }
}

.nav-link {
  color: #f3f7f8 !important;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* linear.app/Inter/Semi Bold 10.97 */
  font-family: Inter;
  font-size: 0.78556rem !important;
  font-style: normal;
  font-weight: 600; /* 	&:hover {
	transform: scale(1.05);
	font-weight: 600;
} */
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
@media screen and (max-width: 768px) {
  .nav-link:hover {
    transform: scale(1.01) !important;
    font-weight: 600;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .nav-link:hover {
    transform: scale(1.01) !important;
    font-weight: 600;
  }
}
@media screen and (max-width: 768px) {
  .nav-link {
    padding: 8px 0px !important;
  }
}

a.btn-white {
  border-radius: 0.64444rem;
  background: #e1ebec;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px 20px !important;
  color: #222c30 !important;
  font-family: Inter;
  font-size: 0.93644rem;
  font-style: normal;
  font-weight: 600;
  text-decoration: none !important;
}
a.btn-white:hover {
  filter: contrast(0.9);
}
@media screen and (max-width: 768px) {
  a.btn-white {
    display: inline-flex;
  }
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 56px !important;
}

@media screen and (max-width: 768px) {
  .div-lista-nav-01 {
    order: 1;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .div-lista-nav-01 {
    order: 1;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .div-lista-nav-01 {
    order: 1;
  }
}

@media screen and (max-width: 768px) {
  .div-lista-nav-02 {
    order: 2;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  .div-lista-nav-02 {
    order: 2;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .div-lista-nav-02 {
    order: 2;
  }
}

.nav-link {
  color: #f3f7f8 !important;
  position: relative;
  /*  @include text-style-heads-heading-1; */
}
.nav-link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: #f3f7f8;
  bottom: -10%;
  left: 0;
  transition: all 0.7s ease-in-out;
}
.nav-link:hover {
  color: #f3f7f8 !important;
}
.nav-link:hover::after {
  width: 100%;
}

/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

#hero {
  padding: 360px 0px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #hero {
    padding: 200px 0px;
  }
}

#hero #background-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  #hero #background-hero {
    width: 200% !important;
  }
}
#hero #esquerda--inject-2 {
  animation: bounce 2s infinite;
}

#hero h6 {
  color: #f3f7f8;
  /* linear.app/Inter/Semi Bold 20.02 */
  font-family: Inter;
  font-size: 1.251rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02313rem;
  margin-bottom: 8px;
}
#hero h1 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 5.67806rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.10763rem;
}
@media screen and (max-width: 768px) {
  #hero h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #hero h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  #hero h1 {
    font-size: 3rem;
  }
}
#hero span {
  color: #c2d7da;
  /* linear.app/Inter/Semi Bold 13.78 */
  font-family: Inter;
  font-size: 0.96131rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01125rem;
  display: flex !important;
  flex-direction: column !important;
}
@media screen and (max-width: 768px) {
  #hero span {
    font-size: 16px;
  }
}
#hero a.btn-white {
  border-radius: 0.64444rem;
  background: #e1ebec;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px 20px !important;
  color: #222c30 !important;
  font-family: Inter;
  font-size: 0.93644rem;
  font-style: normal;
  font-weight: 600;
}
#hero a.btn-white:hover {
  filter: contrast(0.9);
}
#hero h3 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 3.0495rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.1055rem;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  #hero h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  #hero h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
  #hero h3 {
    font-size: 1.5rem;
  }
}
#hero h4 {
  color: #e1ebec;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  #hero h4 {
    font-size: 1rem;
  }
}

/* Margins for my-* */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.my-7 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.my-8 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

/* Margins for mx-* */
.mx-6 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.mx-7 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.mx-8 {
  margin-right: 6rem !important;
  margin-left: 6rem !important;
}

/* Margins for mt-* */
.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

/* Margins for mb-* */
.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

/* Margins for ml-* */
.ml-6 {
  margin-left: 4rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

/* Margins for mr-* */
.mr-6 {
  margin-right: 4rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

/* Margins for m-* (all sides) */
.m-6 {
  margin: 4rem !important;
}

.m-7 {
  margin: 5rem !important;
}

.m-8 {
  margin: 6rem !important;
}

#esquerda-group--inject-2 {
  animation: moveUpDown 4s infinite alternate ease-in-out;
}

#baixo-group--inject-2 {
  animation: moveUpDown 3s infinite alternate ease-in-out 1s;
}

#direita-group--inject-2 {
  animation: moveUpDown 2s infinite alternate ease-in-out 2s;
}

#cima-group--inject-2 {
  animation: moveUpDown 5s infinite alternate ease-in-out 3s;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
body {
  background-color: #344045 !important;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 1)" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>') !important;
  transition: 0.5s ease;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 1)" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M23 7l-16 16M7 7l16 16"/></svg>') !important;
  transition: 0.5s ease;
  transform: rotate(180deg);
}

.v-mobile {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .v-mobile {
    display: block !important;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .v-mobile {
    display: block !important;
  }
}

.v-desktop {
  display: block !important;
}
@media screen and (max-width: 768px) {
  .v-desktop {
    display: none !important;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .v-desktop {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */